<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
	<key>WhichWayBaseURL</key>
	<string>$(WHICHWAY_BASE_URL)</string>
	<key>WhichWayTripServer</key>
	<string>$(WHICHWAY_TRIP_SERVER)</string>
	<key>WhichWayTripRelay</key>
	<string>$(WHICHWAY_TRIP_RELAY)</string>
	<key>WhichWayRelayKey</key>
	<string>$(WHICHWAY_RELAY_KEY)</string>
</dict>
</plist>
